@model IEnumerable<mvc.Models.Ambulancias>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">				
				@Html.DisplayNameFor(model => model.Unidad)
			</th>
			<th scope="col"></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tbody>
			<tr>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.Unidad)
				</td>
				<td scope="row">
					@Html.ActionLink("Edit", "Edit", new { id = item.IdAmbulancia }) |
					@Html.ActionLink("Details", "Details", new { id = item.IdAmbulancia }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.IdAmbulancia })
				</td>
			</tr>
		</tbody>
	}

</table>
