@using mvc.Models
@model mvc.Models.Users
@{
	ViewBag.Title = "Cruz Roja Mexicana.";
}
<!--
	<script type="text/javascript">
	dataLayer = [{
		'pagina': 'ACCOUNT',
		'url': 'INDEX',
		'event': 'paginavista',
		'userid': '',
		'categoria': '',
		'accion': '',
		'etiqueta':''
	}];
	(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-NK5KGBD');
	</script>-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Scripts -->
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/assets/js/jquery.dropotron.min.js"></script>
<script src="~/assets/js/jquery.scrolly.min.js"></script>
<script src="~/assets/js/breakpoints.min.js"></script>
<script src="~/assets/js/util.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body style="background-color:red;align-content:center">
	@*<script type="text/javascript">
			var utag_data = {
				titulo: "ACCOUNT", // guardaremos aqui el titulo de la pagina
				urlamigable: "LOGIN", // la url del sitio
				categoria: "", // categoria del evento
				accion: "", // accion
				etiqueta: "", // etiqueta
				tag_test: "" //
			}
		</script>

		<script type="text/javascript">
			(function (a, b, c, d) {
				a = 'https://tags.tiqcdn.com/utag/education-martha/santander-012/prod/utag.js';
				b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true;
				a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
			})();
		</script>*@

	<script type="text/javascript">
		var utag_data = {		
			titulo: "LOGIN", // titulo
			pagina: "ACCOUNT" // pagina
		}
	</script>

	<!-- Loading script asynchronously -->
	<script type="text/javascript">
		(function (a, b, c, d) {
			a = 'https://tags.tiqcdn.com/utag/tu-exam/exam052/prod/utag.js';
			b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true;
			a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
		})();
	</script>


	<div class="row" style="background-color:red;align-content:center;vertical-align:central;">
		<div class="col-md-3" style="align-content:safe center">
			<section id="loginForm" style="color:white;align-content:center">
				<img src="~/images/logo.png" />
				@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()

					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						@Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="button" value="Iniciar Sesion" class="btn btn-sm" style="background-color:white" id="btnInicioSesion" />
						</div>
					</div>
				}
			</section>
		</div>
		<div class="col-md-4">
			<section id="socialLoginForm">
				@*	@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
			</section>
		</div>
	</div>
</body>
<script>
	$(document).ready(function () {
		$('#btnInicioSesion').on("click", function () {
			var url = '@Url.Action("Login", "Account")';
			var JsonModel = '@Html.Raw(Json.Encode(@Model))'
			var data = {
			Usuario: $("#Usuario").val(),
			Password: $("#Password").val()
			}
			$.ajax({
			type: "POST",
			data: JSON.stringify({
			'Usuario': data.Usuario, 'Password': data.Password}),
			url: url,
			contentType: "application/json"
			}).done(function (res) {
			console.log(res);
				if (res) {
					//dataLayer.push = ({
					//'pagina': 'ACCOUNT',
					//'url': 'LOGIN',
					//'categoria': 'ACCOUNT',
					//'accion': 'LOGIN',
					//'etiqueta':'INICIO EXITOSO',
					//'event': 'evento',
					//'userid': data.Usuario
					//});
			window.location.href = '../Ordenes/Index';
			} else { alert("Password invalido");}
			}).fail(function (error) {
			alert(error.StatusText);
			});
			});
			});
			function AjaxCall(url, data, type) {
			return $.ajax({
			url: url,
			type: type ? type : 'GET',
			data: data,
			contentType: 'application/json'
			});
			}
</script>