@using mvc.Models
@model mvc.Models.Users
@{
	ViewBag.Title = "Cruz Roja Mexicana";
}
<!--
	<script type="text/javascript">
	dataLayer = [{
		'pagina': 'ACCOUNT',
		'url': 'INDEX',
		'event': 'paginavista',
		'userid': '',
		'categoria': '',
		'accion': '',
		'etiqueta':''
	}];
	(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-NK5KGBD');
	</script>-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Scripts -->
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/assets/js/jquery.dropotron.min.js"></script>
<script src="~/assets/js/jquery.scrolly.min.js"></script>
<script src="~/assets/js/breakpoints.min.js"></script>
<script src="~/assets/js/util.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
	//document.cookie='__RequestVerificationToken=RPsrsFV7ADKdneJLaTK6CWsfdFYUZlxBwMFaVYPm9lILKOuvE6kIvIUvrAQ7KN_XK3N9VET-1DkJ7TetxWE1U3r7OOZU_4QRbxjW73pE7tA1;SameSite=Strict; Secure'
	//document.cookie='tealium/main>016dda7b55d900058b4a27dfcc9a01072001406a007e8|tu-exam/exam052>016e9ea8ba9d00236d5d75486da401072002406a007e8|tealium-datamart/tealium-main>016e190efd9b001c5ded746a4e3301072001406a007e8|; SameSite=Strict; Secure'
	//document.cookie = '_ga=GA1.2.1778011051.1574622844;SameSite=Strict';
    //document.cookie = '_ga=GA1.2.1778011051.1574622844; SameSite=Strict; Secure';
	//document.cookie = 'SRC=my.tealiumiq.com; SameSite=Strict; Secure';
	//document.cookie = 'SRC=my.tealiumiq.com; SameSite=Strict; Secure';
	//document.cookie='_gat_tealium_0:1; SameSite=Strict; Secure'
	//document.cookie='utag_main=v_id:016e9ebce501001de34e4f4592a801072007106a007e8$_sn:3$_ss:0$_st:1574705154329$dc_visit:3$pa:santander$iframes_loaded:true%3Bexp-1574713904496$ses_id:1574701593417%3Bexp-session$_pn:1%3Bexp-session$dc_event:8%3Bexp-session$dc_region:us-east-1%3Bexp-session; SameSite:None; Secure:true'
</script>
<body style="background-color:red;align-content:center">
	<script type="text/javascript">
		var utag_data = {
			page_type: "", //
			customer_email: "", //
			customer_first_name: "", //
			customer_last_name: "", //
			customer_full_name: "", //
			product_image_url: "", //
			as_product_image_url: "", //
			page_cat_1: "", // Page Category 1
			page_cat_2: "", // Page Category 2
			page_cat_3: "", // Page Category 3
			addr1: "", // Address Line 1
			addr2: "", // Address Line 2
			city: "", // City
			state: "", // State
			zip: "", // Zip Code
			ctry: "", // Country
			currency: "", // Currency
			order_id: "", // Order ID
			tax: "", // Sales Tax
			shipping: "", // Shipping and Handling fee
			order_subtotal: "", // Subtotal of order not including tax and shipping and promo code
			order_total: "", // Order Total (USD $)
			product_name: "", // name of product
			product_price: "", // Unit Price (USD $)
			product_qty: "", // Number of items
			category: "", // Product Category
			product_sku: "", // Product SKU
			page_name: "ACCOUNT", // Contains a user-friendly page name.
			page_section_name: "", // Contains a user-friendly section, e.g. 'product section'.
			page_category_name: "", // Contains a user-friendly category name, e.g. 'appliances'.
			page_subcategory_name: "", // Contains a user-friendly subcategory name, e.g. 'dishwashers'.
			product_id: "", // Contains product ID(s) - multiple values should be comma-separated.
			product_brand: "", // Contains product brand(s) - multiple values should be comma-separated.
			product_category: "", // Contains product category(s) - multiple values should be comma-separated.
			product_unit_price: "", // Contains product unit price(s) - multiple values should be comma-separated.
			product_quantity: "", // Contains product quantity(s) - multiple values should be comma-separated.
			product_list_price: "", // Contains product list price(s) before discount - multiple values should be comma-separated.
			order_payment_type: "", // Contains the order payment type.
			order_discount: "", // Contains the order discount (if any).
			order_shipping: "", // Contains the order shipping value.
			order_tax: "", // Contains the order tax amount.
			order_currency: "", // Contains the currency associated with the transaction, e.g. 'USD'.
			customer_id: "", // Contains the customer ID.
			customer_type: "", // Contains the customer type.
			search_results: "", // Contains the number of results returned with a search query.
			search_keyword: "", // Contains the search query conducted by user.
			site_region: "", // Includes values for region or localized version, e.g. 'en_US'.
			site_currency: "", // Contains the currency shown on site, e.g. 'USD'.
			email_base64: "", //
			page_section: "", // Contains a user-friendly page section, e.g. 'configuration section'.
			page_category: "", // Contains a user-friendly page category, e.g. 'appliance page'.
			page_subcategory: "", // Contains a user-friendly page subcategory, e.g. 'refrigerator page'.
			customer_username: "", // Contains the customer's username, e.g. johndoe38.
			customer_status: "", // Contains the customer's status, e.g. 'logged in'.
			customer_city: "", // Contains the city portion of the customer's address.
			customer_state: "", // Contains the state portion of the customer's address.
			customer_zip: "", // Contains the zip code portion of the customer's address.
			customer_country: "", // Contains the country portion of the customer's address.
			search_term: "", // Contains the search term or query submitted by a visitor.
			search_type: "", // Contains the type of search conducted by the visitor.
			product_subcategory: "", // Contains product subcategory(s) - multiple values should be comma-separated.
			product_discount: "", // Contains product discount(s) - multiple values should be comma-separated.
			order_coupon_code: "", // Contains the order coupon code.
			order_coupon_discount: "", // Contains the order coupon discount.
			order_store: "", // Contains identification information for a store.
			order_type: "", // Contains type of order/cart.
			article_id: "", // Contains the article's ID.
			article_name: "", // Contains the article's name.
			article_author: "", // Contains the name of the author of an article.
			article_publish_date: "", // Contains the publish date of an article.
			video_id: "", // Contains the video ID.
			video_name: "", // Contains the name of the video.
			video_duration: "", // Contains the duration of the video. This value should be in seconds.
			video_offset: "", // Contains the time into a video at which a certain state occurs.
			video_state: "", // Contains the state of the video, e.g. start, play, pause, milestone, end.
			video_player: "", // Contains the name of the video player.
			video_player_version: "", // Contains the version of the video player.
			Nombre: "", // Nombre
			Apellidos: "", // Apellidos
			UserID: "", // UserID
			Categoria: "", // Categoria
			Evento: "", // Evento
			Etiqueta: "", // Etiqueta
			section: "", // section
			subsection1: "", // subsection1
			subsection2: "", // subsection2
			visualization: "", // visualization
			event_category: "", // Categoria del evento
			event_action: "", // Accion del evento
			event_label: "", // Etiqueta del evento
			CD: "", // CD
			app_name: "", // Application name
			app_rdns: "", // Reverse DNS Bundle Id/Package ID
			app_version: "", // Application version
			associated_screen_title: "", // Current visible screen title when the event occurs.
			autotracked: "", // Was this dispatch call generated automatically or triggered by a manual track call
			call_type: "", // Call type - usually view appearance or event trigger
			carrier: "", // Carrier that device is currently connected to
			carrier_iso: "", // Carrier iso country code in ISO 3166-1 (alpha-2)format
			carrier_mcc: "", // Mobile country code - ITU-T Recommendation E.212
			carrier_mnc: "", // Mobile network code - ITU-T Recommendation E.212
			connection_type: "", // Type of internet connection
			device: "", // Model of device
			device_architecture: "", // Bit architecture of the device
			device_cputype: "", // Cpu type
			device_language: "", // Two-letter ISO-639-1 language setting identifier
			device_orientation: "", // Orientation of device at time of call
			device_os_version: "", // Operating System version on device
			device_resolution: "", // Width by height resolution of device
			exception_name: "", // Custom name, if any, of exception
			exception_reason: "", // Description of exception
			exception_totalcrashcount: "", // Total number of crashes counted since install of app
			exception_trace: "", // Stringified stack track leading to crash
			ivar_: "", // Any variable key with the &quot;ivar_&quot; prefix designated an ivar or property that was autodetected from a tracked object
			library_version: "", // The version of the Tealium library your app has installed
			lifecycle_dayofweek_local: "", // Local day of week that call was made - 1=Sunday, 2=Monday, etc.)
			lifecycle_dayssincelastwake: "", // Days since last detected wake in integer increments
			lifecycle_dayssincelaunch: "", // Days since first launch in integer increments
			lifecycle_dayssinceupdate: "", // Days since the last detected app version update in integer increments
			lifecycle_firstlaunchdate: "", // GMT timestamp of very first detected launch/wake in ISO8601 format from Zulu time
			lifecycle_firstlaunchdate_MMDDYYYY: "", // GMT Timestamp formatted as MM/DD/YYYY
			lifecycle_hourofday_local: "", // Local hour of day that call was made (24 hour format)
			lifecycle_isfirstlaunch: "", // Only present if call is very first launch/wake call
			lifecycle_isfirstlaunchupdate: "", // Only present if call is first launch/wake after a detected updated
			lifecycle_isfirstwakemonth: "", // Only present if call is first launch/wake of the month
			lifecycle_isfirstwaketoday: "", // Only present if call is first launch/wake of the day
			lifecycle_lastlaunchdate: "", // Last launch date in ISO8601
			lifecycle_lastsleepdate: "", // Last sleep date in ISO8601
			lifecycle_lastwakedate: "", // Last wake date in ISO8601
			lifecycle_launchcount: "", // Total number of launches this version of your app
			lifecycle_priorsecondsawake: "", // Whole seconds app was awake since last launch only. Aggregates total from all wakes prior. Sent only with lifecycle_type: launch calls.
			lifecycle_secondsawake: "", // Whole seconds app was awake since last wake/launch. Sent only with lifecycle_type:sleep or lifecycle_type:terminate calls
			lifecycle_sleepcount: "", // Total number of times your app has gone to sleep (resets if updated)
			lifecycle_totallaunchcount: "", // Total number of launches since install
			lifecycle_totalsecondsawake: "", // Total number of seconds your app has been in a woken/active state
			lifecycle_totalsleepcount: "", // Total number of times your app has gone into the background
			lifecycle_totalwakecount: "", // Total number of launches + wakes since install (only reset if app deleted)
			lifecycle_type: "", // Type of lifecycle call
			lifecycle_updatelaunchdate: "", // GMT timestamp of first wake/launch after a version update has been detected
			lifecycle_wakecount: "", // Total number of launches + wakes in this version of your app (resets if updated)
			link_id: "", // General event or link title - this could be a button title or an object's Tealium ID
			memory_warning: "", // If app received a memory warning alert from the device OS
			object_class: "", // The OS class type of an element [UIButton,UIViewController, etc]
			origin: "", // Constant to definitively distinguish mobile from web implementation dispatches
			os_version: "", // Operating System version on device
			pkg_author: "", // Author of package
			pkg_name: "", // Name of Package
			pkg_version: "", // Package version
			platform: "", // [iOS, Android, BB10, etc.]
			screen_title: "ACCOUNT", // General view title [any string]
			selected_title: "", // Title of a sub-element (ie UISegment or UITableViewCell title)
			selected_value: "", // Numeric value of a sub-element (ie value of UISlider)
			tealium_id: "", // Unique Tealium Reference Id
			timestamp: "", // Timestamp to seconds of event occurrence in ISO8601 format from Zulu time]
			timestamp_local: "", // Local Timestamp to seconds of event occurrence in ISO8601 format
			timestamp_offset: "", // Local timezone offset of device's location in hours
			timestamp_unix: "", // GMT/UTC Unix timestamp
			url_filename: "", // Filename of video
			uuid: "", // Universally Unique Identifier of app on a unique device [any string]
			video_airplayactive: "", // Is airplay active during video playback
			video_height: "", // Height of video at play time
			video_mediatype: "", // The type of media [video/audio/video+audio]
			video_playableduration: "", // Total length of video in seconds
			video_playbackpercent: "", // Percentage of video played at time of call
			video_playbackrate: "", // Rate of video playback - 0.50 = half-speed 1.00 = normal play speed
			video_playbacktime: "", // Playhead time at time of call
			video_sourcetype: "", // Source origin of video [file, live, unknown]
			video_status: "", // Video playback status
			video_timedmetadata: "", // Time based info within HTTP streamed media
			video_url: "", // URL/Filename of video
			video_width: "", // Width of video at play time
			view_height: "", // Page height in pixels
			view_width: "", // Page width in pixels
			visitor_id: "", // Tealium Collect-assigned visitor id.
			webview_servicetype: "", // Service type request when page was loaded
			webview_url: "INDEX" // The url of the webpage
		}
	</script>
	<!-- Loading script asynchronously -->
	<script type="text/javascript">
		(function (a, b, c, d) {
			a = 'https://tags.tiqcdn.com/utag/tu-exam/exam052/dev/utag.js';
			b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true;
			a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
		})();
	</script>
	<div class="row" style="background-color:red;align-content:center;vertical-align:central;">
		<div class="col-md-3" style="align-content:safe center">
			<section id="loginForm" style="color:white;align-content:center">
				<img src="~/images/logo.png" />
				@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()

					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						@Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="button" value="Iniciar Sesion" class="btn btn-sm" style="background-color:white" id="btnInicioSesion" />
						</div>
					</div>
				}
			</section>
		</div>
		<div class="col-md-4">
			<section id="socialLoginForm">
				@*	@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
			</section>
		</div>
	</div>
</body>
<script>
	$(document).ready(function () {
		$('#btnInicioSesion').on("click", function () {
			var url = '@Url.Action("Login", "Account")';
			var JsonModel = '@Html.Raw(Json.Encode(@Model))'
			var data = {
			Usuario: $("#Usuario").val(),
			Password: $("#Password").val()
			}
			$.ajax({
			type: "POST",
			data: JSON.stringify({
			'Usuario': data.Usuario, 'Password': data.Password}),
			url: url,
			contentType: "application/json"
			}).done(function (res) {
			console.log(res);
				if (res) {
					dataLayer.push = ({
					'pagina': 'ACCOUNT',
					'url': 'LOGIN',
					'categoria': 'ACCOUNT',
					'accion': 'LOGIN',
					'etiqueta':'INICIO EXITOSO',
					'event': 'evento',
					'userid': data.Usuario
					});
			window.location.href = '../Ordenes/Index';
			} else { alert("Password invalido");}
			}).fail(function (error) {
			alert(error.StatusText);
			});
			});
			});
			function AjaxCall(url, data, type) {
			return $.ajax({
			url: url,
			type: type ? type : 'GET',
			data: data,
			contentType: 'application/json'
			});
			}
</script>