@using mvc.Models
@model mvc.Models.Users
@{
	ViewBag.Title = "Cruz Roja Mexicana.";
}
<script type="text/javascript">
	dataLayer = [{
		'pagina': 'ACCOUNT',
		'url': 'INDEX',
		'event': 'paginavista',
		'userid': '',
		'categoria': '',
		'accion': '',
		'etiqueta': ''
	}];
	(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-NK5KGBD');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
<!-- Scripts -->
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/assets/js/jquery.dropotron.min.js"></script>
<script src="~/assets/js/jquery.scrolly.min.js"></script>
<script src="~/assets/js/breakpoints.min.js"></script>
<script src="~/assets/js/util.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*@
<style>
	.center {
		display: flex;
		text-align: center;
		margin: auto;
		width: 50%;
		margin-left:25%;
		border: 3px solid black;
		padding: 10px;
		vertical-align: middle;
		justify-content: center;
		overflow-x: no-display;
		overflow-y: auto;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height: 50px;
		justify-content: center;
	}
</style>
<div class="center" style="align-content:center;vertical-align:middle">
	<form>
		<!--<img src="~/images/logo.png" />-->
		@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="row">
				<div class="col-xl-auto">
					@Html.LabelFor(m => m.Usuario, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row">
				<div class="col-xl-auto">
					@Html.LabelFor(m => m.Password, new { @class = "control-label" })
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="row">
				<div class="col-xl-auto">
					<input type="button" value="Iniciar Sesion" class="btn btn-lg btn-outline-primary" id="btnInicioSesion" />
				</div>
			</div>
		}
	</form>
</div>
<div class="collapse" id="collapseExample">
	<div class="well alert-danger">
		<label id="msj">

		</label>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
			});
	function AjaxCall(url, data, type) {
			return $.ajax({
			url: url,
			type: type ? type : 'GET',
			data: data,
			contentType: 'application/json'
			});
	}
	$('#btnInicioSesion').on("click", function () {
		if ($("#Usuario").val() != "" && $("#Password").val() != "") {
			var url = '@Url.Action("Login", "Account")';
			var JsonModel = '@Html.Raw(Json.Encode(@Model))'
			var data = {
				Usuario: $("#Usuario").val(),
				Password: $("#Password").val()
			}
			$.ajax({
				type: "POST",
				data: JSON.stringify({
					'Usuario': data.Usuario, 'Password': data.Password
				}),
				url: url,
				contentType: "application/json"
			}).done(function (res) {
				console.log(res);
				if (res) {
					dataLayer.push({
						categoria: 'ACCOUNT',
						accion: '@Resources.Recursos.LOGIN',
						etiqueta: '@Resources.Recursos.LOGIN_EXITOSO',
						event: 'eventos',
						userid: data.Usuario
					});
					window.location.href = '../Ordenes/Index';
				} else { $('#msj').text('@Resources.Recursos.LOGIN_FALLIDO'); $('.collapse').collapse('show');}
			}).fail(function (error) {
				alert(error.StatusText);
			});
		} else { $("#Usuario").focus(); $('#msj').text('@Resources.Recursos.LOGIN_USUARIO_PASSWORD'); $('.collapse').collapse('show'); }
		});
</script>