@model IEnumerable<mvc.Models.Pacientes>
@{
	/**/

	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-outline-info" })

<h2>Pacientes</h2>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Segundo Nombre
			</th>
			<th>
				Apellido Paterno
			</th>
			<th>
				Apellido Materno
			</th>
			<th>
				RFC
			</th>
			<th>
				CURP
			</th>
			<th>
				Fecha de Nacimiento
			</th>
			<th>
				Correo Eletrónico
			</th>
			<th>
				Telefóno
			</th>
		</tr>
		@foreach (var modelo in Model)
		{
			<tr>
				<td>
					@modelo.Nombre
				</td>
				<td>
					@modelo.SegundoNombre
				</td>
				<td>
					@modelo.ApellidoPaterno
				</td>
				<td>
					@modelo.ApellidoMaterno
				</td>
				<td>
					@modelo.RFC
				</td>
				<td>
					@modelo.CURP
				</td>
				<th>
					@modelo.FechaNacimiento.ToShortDateString()
				</th>
				<th>
					@modelo.Email
				</th>
				<th>
					@modelo.Telefono
				</th>
				<td>
					@Html.ActionLink("Editar", "Editar", new { @Id = @modelo.Id }, new { @class = "btn btn-outline-primary" })
				</td>
			</tr>
		}
	</thead>
</table>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		dataLayer = [{
			'pagina': 'PACIENTES',
			'url': 'PACIENTES',
			'event': 'paginavista'
		}];
	});
</script>
