@using mvc.Models;
@model ServiciosDelegacionPrecios
@{
	ViewBag.Title = "Cruz Roja";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Guardar", "ServiciosPrecios", FormMethod.Post))
{
	@Html.AntiForgeryToken();
	@Html.ValidationSummary(true);
	<fieldset>
		@Html.HiddenFor(m => m.Id, new { @Value = 0 })
		<div class="container">
			<div class="row">
				<div class="col-sm">
					@Html.LabelFor(m => m.IdServicio)
					@Html.DropDownListFor(model => model.IdServicio, new SelectList(Model.listaserviciosdelegacion, "Id", "NombreServicio",Model.Id), new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.IdServicio)
				</div>
				<div class="col-sm">
					@Html.LabelFor(m => m.PrecioSinIva)
					@Html.EditorFor(model => model.PrecioSinIva, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.PrecioSinIva)
				</div>
			</div>
			<input type="submit" value="Guardar" class="btn btn-outline-secondary"  />
		</div>
	</fieldset>
}
<div id="myPartialViewDiv">
	@{
		Html.RenderPartial("Index", Model.serviciosDelegacionPrecios);
	}
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$("#IdServicio").addClass("form-control");
		$('#IdServicio').on("change", function () {
			var country = $('#IdServicio').val();
			var obj = { country: country };
			AjaxCall('/ServiciosPrecios/Index/' + obj.country, JSON.stringify(obj), 'POST').done(function (response) {
				if (response.length > 0) {
					$('#myPartialViewDiv').html(response);

				}
			}).fail(function (error) {
				alert(error.StatusText);
			});
		});
	});

	function AjaxCall(url, data, type) {
		return $.ajax({
			url: url,
			type: type ? type : 'GET',
			data: data,
			contentType: 'application/json'
		});
	}
</script>