@model mvc.Models.Users
@{
	ViewBag.Title = "Cruz Roja";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edición de Usuarios</h2>
@using (Html.BeginForm("Guardar", "Usuarios", FormMethod.Post, new { @id = "formulario", @class = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
<fieldset>
	@Html.HiddenFor(m => m.Id)
	<div class="row">
		<div class="col-sm-6 col-lg-6">
			@Html.LabelFor(m => m.IdDelegacion, new { @class = "text-form" })
			@Html.DropDownListFor(model => model.IdDelegacion, new SelectList(Model.delegaciones, "Id", "Municipio"), "--Seleccione la Delegación--", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.IdDelegacion, string.Empty, new { @class = "text-danger" })
		</div>
		<div class="col-sm-6 col-lg-6">
			@Html.LabelFor(m => m.Usuario)
			@Html.EditorFor(m => m.Usuario, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Usuario, string.Empty, new { @class = "text-danger" })
		</div>
		<div class="col-sm-6 col-lg-6">
			@Html.LabelFor(m => m.Password, new { @class = "text-form" })
			@Html.EditorFor(m => m.Password, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
		</div>
		<div class="col-sm-6 col-lg-6">
			@Html.LabelFor(m => m.Correo)
			@Html.EditorFor(m => m.Correo, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Correo, string.Empty, new { @class = "text-danger" })
		</div>
		<div class="col-sm-6 col-lg-6">
			@Html.LabelFor(m => m.IdRol)
			@Html.DropDownListFor(model => model.IdRol, new SelectList(Model.roleslista, "Id", "Rol"), "--Seleccione un Rol--", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.IdRol, string.Empty, new { @class = "text-danger" })
		</div>
	</div>
	<input type="submit" id="Agregar" value="Guardar" class="btn btn-outline-primary" />
	@Html.ActionLink("Cancelar", "Index",null, new { @class = "btn btn-outline-danger" })
</fieldset>
}
