@model IEnumerable<mvc.Models.Colonias>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="row">
				@Html.DisplayNameFor(model => model.Colonia)
			</th>
			<th scope="row"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">
					@Html.DisplayFor(modelItem => item.Colonia)
				</th>
				<td scope="row">
					@Html.ActionLink("Edit", "Edit", new { id = item.IdColonia }) |
					@Html.ActionLink("Details", "Details", new { id = item.IdColonia }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.IdColonia })
				</td>
			</tr>
		}
	</tbody>
</table>
