@model IEnumerable<mvc.Models.Claves>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover ">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Clave)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Clave)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.IdClave }) |
					@Html.ActionLink("Details", "Details", new { id = item.IdClave }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.IdClave })
				</td>
			</tr>
		</tbody>
	}

</table>
