@model mvc.Models.Ordenes
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.form-control:focus {
		border-color: #28a745;
		box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
	}
</style>
<div class="container">

	<div class="row">
		<div class="col">

		</div>
		<div class="col-md-auto">
			@DateTime.Now
		</div>
		<div class="col col-lg-2">
			<button type="button" class="btn btn-primary">
				Folio: <span class="badge badge-light">	@Html.DisplayFor(model => model.Id)</span>
			</button>
		</div>
	</div>
</div>
<h3>Ordenes de Servicio</h3>


@Html.Partial("Pacientes")

@using (Html.BeginForm("Agregar", "Ordenes", FormMethod.Post, new { @class = "form", id = "Formulario" }))
{
	@Html.AntiForgeryToken();
	@Html.ValidationSummary(true);
	<fieldset>
		<div class="container">
			<div class="col-sm-3">
				@Html.HiddenFor(m => m.Id)
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="">DETALLE DE LA ORDEN</span>
					@Html.DropDownListFor(m => m.ordentemporal.IdServicio, new SelectList(Model.serviciosDelegacions, "Id", "NombreServicio"), "---Seleccione un Servicio---")
					@Html.DropDownListFor(m => m.ordentemporal.IdPrecio, new SelectList(Model.serviciosDelegacionPrecios, "Id", "PrecioSinIva", "---Seleccione el Precio---"))
					@Html.EditorFor(model => model.ordentemporal.cantidad, new { @class = "form-control" })
					<button id="btnEnviar" type="button">Agregar</button>
				</div>

			</div>
		</div>

	</fieldset>
}

<div id="Pedido">
	@{
		Html.RenderPartial("OrdenesTemporal", Model.ordenestemporalvista);
	}
</div>
<script>
	$(document).ready(function () {
		$('#ordentemporal_IdServicio').on('change', function () {
			var Id = $('#ordentemporal_IdServicio').val();
			var obj = { IdServicio: Id };
			AjaxCall('/ServiciosPrecios/ConsultaPrecios/' + obj.IdServicio, JSON.stringify(obj), 'POST').done(function (response) {
				if (response.length > 0) {
					var options = '';
					options += '<option value="Select">Seleccione el Precio</option>';
					for (var i = 0; i < response.length; i++) {
						options += '<option value="' + response[i].Id + '">' + '$ ' + response[i].PrecioSinIva + '.00' + '</option>';
					}
					$('#ordentemporal_IdPrecio').html('');
					$('#ordentemporal_IdPrecio').append(options);

				} else { $('#ordentemporal_IdPrecio').html(''); }
			}).fail(function (error) {
				$('#ordentemporal_IdPrecio').html('');
				alert(error.StatusText);
			});
		});

		$('#btnEnviar').on("click", function () {
			if ($('#ordentemporal_cantidad').val() == "") {
				alert("Capture la Cantidad");
				$('#ordentemporal_cantidad').focus();
			    $("#ordentemporal_cantidad").addClass("form-control is-invalid");
			} else {
				var url = "@Url.Action("Agregar","Ordenes")";
				var JsonModel = '@Html.Raw(Json.Encode(@Model))';

				console.log(JsonModel);
				var data = {
					Id:@Model.Id,
					IdFolio:@Model.Id,
					IdServicio: $('#ordentemporal_IdServicio').val(),
					IdPrecio: $('#ordentemporal_IdPrecio').val(),
					cantidad: $('#ordentemporal_cantidad').val()
				}

				$.ajax({
					type: "POST",
					data: JSON.stringify({ 'Id': data.Id, 'ordentemporal.IdFolio': data.IdFolio, 'ordentemporal.IdServicio': data.IdServicio, 'ordentemporal.IdPrecio': data.IdPrecio, 'ordentemporal.cantidad': data.cantidad }),
					url: url,
					contentType: "application/json"
				}).done(function (res) {
					console.log(res);
					$("#Pedido").html(res);
					$('#ordentemporal_cantidad').val("");
					$("#ordentemporal_cantidad").removeClass();
				});
			}
		});

		$("#ordentemporal_cantidad").change(function () {
			$("#ordentemporal_cantidad").removeClass("form-control is-invalid");
			$("#ordentemporal_cantidad").addClass("form-control is-valid");			
		});



	});

	function AjaxCall(url, data, type) {
			return $.ajax({
				url: url,
				type: type ? type : 'GET',
				data: data,
				contentType: 'application/json'
			});
		}

		function Eliminar(Id, IdFolio, Servicio) {
			var r = confirm('¿ Desea Eliminar el Servicio ' + Servicio + ' ?');
			if (r == true) {
				var obj = { IdServicio: Id, IdFolio: IdFolio };
				AjaxCall('/Ordenes/Eliminar/' + obj.IdServicio, JSON.stringify(obj), 'POST').done(function (response) {
					if (response.length > 0) {
						$("#Pedido").html('');
						$("#Pedido").html(response);
					} else { $('#Pedido').html(''); }
				}).fail(function (error) {
					$('#Pedido').html('');
					alert(error.StatusText);
				});
			} else {
				txt = "You pressed Cancel!";
			}

		}

		function Editar(Id) {
			var obj = { IdServicio: Id };
			AjaxCall('/Ordenes/Editar/' + obj.IdServicio, JSON.stringify(obj), 'POST').done(function (response) {
				ConsultarPrecios(response.IdServicio, response.IdPrecio);
				console.log(response.IdPrecio);
				$('#ordentemporal_IdServicio').val(response.IdServicio),
					//$('#ordentemporal_IdPrecio').val(response.IdPrecio),
					$('#ordentemporal_cantidad').val(response.cantidad);
			}).fail(function (error) {
				$('#Pedido').html('');
				alert(error.StatusText);
			});
		}

		function ConsultarPrecios(_IdServicio, _IdPrecio) {
			var obj = { IdServicio: _IdServicio };
			AjaxCall('/ServiciosPrecios/ConsultaPrecios/' + obj.IdServicio, JSON.stringify(obj), 'POST').done(function (response) {
				if (response.length > 0) {
					var options = '';
					options += '<option value="Select">Seleccione el Precio</option>';
					for (var i = 0; i < response.length; i++) {
						options += '<option value="' + response[i].Id + '">' + '$ ' + response[i].PrecioSinIva + '.00' + '</option>';
					}
					$('#ordentemporal_IdPrecio').html('');
					$('#ordentemporal_IdPrecio').append(options);
					$('#ordentemporal_IdPrecio').val(_IdPrecio);

				} else { $('#ordentemporal_IdPrecio').html(''); }
			}).fail(function (error) {
				$('#ordentemporal_IdPrecio').html('');
				alert(error.StatusText);
			});

		};
</script>