@model IEnumerable<mvc.Models.OrdenesTemporalVista>
@using mvc.Models;

<div class="table-responsive">
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">
					<b>SERVICIO</b>
				</th>
				<th scope="col">
					CANTIDAD
				</th>
				<th scope="col">
					PRECIO
				</th>
				<th scope="col">
					SUBTOTAL
				</th>
				<th scope="col">
					IVA
				</th>
				<th scope="col">
					TOTAL
				</th>
			</tr>
			@foreach (var modelo in Model)
			{
				<tr>
					<td>
						@Seguridad.Decrypt(modelo.serviciosDelegacion.NombreServicio)
					</td>
					<td>
						@modelo.ordenesTemporal.cantidad
					</td>
					<td>
						@String.Format("{0:C}", modelo.ServiciosDelegacionPrecios.PrecioSinIva)
					</td>
					<td>
						@String.Format("{0:C}", modelo.ordenesTemporal.subtotal)
					</td>
					<td>
						@String.Format("{0:C}", @modelo.ordenesTemporal.IVA)
					</td>
					<td>
						@String.Format("{0:C}", @modelo.ordenesTemporal.Total)
					</td>
					<td>
						<button id="btnEditar_@modelo.ordenesTemporal.Id" type="button" value="@modelo.ordenesTemporal.Id" onclick='Editar(@modelo.ordenesTemporal.Id,@modelo.ordenesTemporal.IdFolio,"@Seguridad.Decrypt(modelo.serviciosDelegacion.NombreServicio)")' class="btn btn-outline-warning">Editar</button>
						<button id="btnEliminar_@modelo.ordenesTemporal.Id" type="button" value="@modelo.ordenesTemporal.Id" onclick='Eliminar(@modelo.ordenesTemporal.Id,@modelo.ordenesTemporal.IdFolio,"@Seguridad.Decrypt(modelo.serviciosDelegacion.NombreServicio)")' class="btn btn-outline-warning">Eliminar</button>
					</td>
				</tr>
			}
			<tr>
				<td></td>
				<td></td>
				<td>Subtotal</td>
				<td>@String.Format("{0:C}", Model.Sum(modelo => modelo.ServiciosDelegacionPrecios.PrecioSinIva * modelo.ordenesTemporal.cantidad))</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>IVA</td>
				<td>@String.Format("{0:C}", Model.Sum(modelo => modelo.ServiciosDelegacionPrecios.PrecioSinIva * modelo.ordenesTemporal.cantidad) * decimal.Parse("0.16"))</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Total:</td>
				<td><label id="totalOrden">@String.Format("{0:C}", Model.Sum(modelo => modelo.ServiciosDelegacionPrecios.PrecioSinIva * modelo.ordenesTemporal.cantidad) + Model.Sum(modelo => modelo.ServiciosDelegacionPrecios.PrecioSinIva * modelo.ordenesTemporal.cantidad) * decimal.Parse("0.16"))</label></td>
			</tr>
		</thead>
	</table>
</div>