@model mvc.Models.Ordenes

@using (Html.BeginForm("Buscar", "Pacientes", FormMethod.Post))
{
	<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg">Buscar Pacientes</button>
	<legend>Datos del Paciente</legend>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				@Html.LabelFor(model => model.Paciente.Nombre)
				@Html.EditorFor(Model => Model.Paciente.Nombre)
			</div>
			<div class="col-sm">
				@Html.LabelFor(model => model.Paciente.SegundoNombre)
				@Html.EditorFor(Model => Model.Paciente.SegundoNombre)
			</div>
			<div class="col-sm">
				@Html.LabelFor(model => model.Paciente.ApellidoPaterno)
				@Html.EditorFor(Model => Model.Paciente.ApellidoPaterno)
			</div>
			<div class="col-sm">
				@Html.LabelFor(model => model.Paciente.ApellidoMaterno)
				@Html.EditorFor(Model => Model.Paciente.ApellidoMaterno)
			</div>		
			<div>
				<input type="submit" value="Cobrar" />
			</div>
		</div>
	</div>

	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">
								Primer Nombre
							</th>
							<th scope="col">
								Segundo Nombre
							</th>
							<th scope="col">
								Apellido Paterno
							</th>
							<th scope="col">
								Apellido Materno
							</th>
							<th scope="col">
								RFC
							</th>
							<th scope="col">
								CURP
							</th>
						</tr>
						@foreach (var m in Model.pacientes)
						{
							<tr>
								<td scope="row">
									@m.Nombre
								</td>
								<td scope="row">
									@m.SegundoNombre
								</td>
								<td scope="row">
									@m.ApellidoPaterno
								</td>
								<td scope="row">
									@m.ApellidoMaterno
								</td>
								<td scope="row">
									@m.RFC
								</td>
								<td scope="row">
									@m.CURP
								</td>
								<td scope="row">
									@Html.ActionLink("Seleccionar", "Index", new { @Id = m.Id }, new { @class = "btn btn-outline-success" })
								</td>
							</tr>
						}
					</thead>
				</table>
			</div>
		</div>
	</div>
}
