@model IEnumerable<mvc.Models.OrdenesRecibos>
@using mvc.Models
<div style="align-content:center">
	<img src="~/images/logo.png" alt="logo" width="30" height="30" /><br />
	<label id="lbldelegacion">@Html.DisplayFor(x => x.FirstOrDefault().serviciosDelegacion.NombreServicio)</label>
	<b><label> Paciente: </label></b>
	@Html.DisplayFor(x => x.FirstOrDefault().pacientes.Nombre) @Html.DisplayFor(x => x.FirstOrDefault().pacientes.SegundoNombre) @Html.DisplayFor(x => x.FirstOrDefault().pacientes.ApellidoPaterno)  @Html.DisplayFor(x => x.FirstOrDefault().pacientes.ApellidoMaterno)
	<br />
	<b><label> CONCEPTOS </label></b>
	<hr />
	<label id="fecha">@System.DateTime.Now</label>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col">

					</th>
				</tr>
				@foreach (var i in Model)
				{
					<tr>
						<td>
							@i.ordenesDetalles.cantidad---Servicio(s)---@i.serviciosDelegacion.NombreServicio
						</td>
					</tr>
				}
			</thead>
		</table>
		<hr />
		<b><label>Total Pagado:</label></b>@Html.DisplayFor(x => x.FirstOrDefault().ordenes.Total)
	</div>

</div>










