@model mvc.Models.Delegaciones
@{
	ViewBag.Title = "Edición de delegaciones";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edición de delegaciones</h2>
@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-info" })
@using (Html.BeginForm("Guardar", "Delegaciones", FormMethod.Post))
{
	@Html.AntiForgeryToken();
	@Html.ValidationSummary(true);
	<fieldset>
		<div>
			@Html.HiddenFor(model => model.Id)
		</div>
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.IdEstado)
				@Html.DropDownListFor(model => model.IdEstado, new SelectList(Model.estado, "Id", "Estado"), "--Seleccione un Estado--", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.IdEstado, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.claveDelegacion)
				@Html.EditorFor(model => model.claveDelegacion, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.claveDelegacion, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.Municipio)
				@Html.EditorFor(model => model.Municipio, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Municipio, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.Colonia)
				@Html.EditorFor(model => model.Colonia, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Colonia, string.Empty, new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.Calle)
				@Html.EditorFor(model => model.Calle, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Calle, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.NumeroExterior)
				@Html.EditorFor(model => model.NumeroExterior, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.NumeroExterior, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.NumeroInterior)
				@Html.EditorFor(model => model.NumeroInterior, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.NumeroInterior, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="col-sm-3 col-lg-3">
				@Html.LabelFor(model => model.CP)
				@Html.EditorFor(model => model.CP, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CP, string.Empty, new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				<div>
					@Html.LabelFor(model => model.Telefono)
					@Html.EditorFor(model => model.Telefono, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Telefono, string.Empty, new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div>
			<input type="submit" value="Guardar" class="btn btn-outline-success" />
			@Html.ActionLink("Cancelar", "Index", null, new { @Class = "btn btn-outline-dark" })
		</div>
	</fieldset>
}
