@model IEnumerable<mvc.Models.DelegacionesVista>
@using mvc.Models;
@{
	ViewBag.Title = "Cruz Roja";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delegaciones</h2>
@Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-outline-info" })
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>
				Clave
			</th>
			<th>
				Estado
			</th>
			<th>
				Clave de Delegación
			</th>
			<th>
				Municipio
			</th>
			<th>
				Colonia
			</th>
			<th>
				Telefono
			</th>
		</tr>
		@foreach (var modelo in Model)
		{
			<tr>
				<td>
					@Seguridad.Decrypt(modelo.delegaciones.claveDelegacion)
				</td>
				<td>
					@Seguridad.Decrypt(modelo.estados.Estado)
				</td>
				<td>
					@Seguridad.Decrypt(modelo.delegaciones.Municipio)
				</td>
				<td>
					@Seguridad.Decrypt(modelo.delegaciones.Colonia)
				</td>
				<td>
					@Seguridad.Decrypt(modelo.delegaciones.Telefono)
				</td>
				<td>
					@Html.ActionLink("Editar", "Editar", new { @Id = modelo.delegaciones.Id }, new { @class = "btn btn-outline-primary" })
				</td>
			</tr>
		}
	</thead>
</table>

