@model IEnumerable<mvc.Models.ServiciosVista>
@{
	ViewBag.Title = "Cruz Roja";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catalogo de Servicios</h2>
@Html.ActionLink("Nuevo", "Nuevo",null,new { @class="btn btn-outline-info"})
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">
				Tipo de Servicio
			</th>
			<th scope="col">
				Nombre del Servicio
			</th>
			<th scope="col">
				Precio
			</th>
		</tr>
		@foreach (var modelo in Model)
		{
			<tr>
				<td scope="row">
					@modelo.servicios.NombreServicio
				</td>
				<td scope="row">
					@modelo.serviciosdelegacion.NombreServicio
				</td>
				<td scope="row">
					@String.Format("{0:C}", modelo.serviciosdelegacion.PreciosinIVA)
				</td>
				<td scope="row">
					@Html.ActionLink("Editar", "Editar", new { @Id = modelo.serviciosdelegacion.Id }, new { @class = "btn btn-outline-primary" })
				</td>
			</tr>
		}
		</thead>
</table>




