@model IEnumerable<mvc.Models.ServiciosAmbulanciasVistas>

@{
	ViewBag.Title = "Index";
}

<h2>Reportes Diarios</h2>

<p>
	@Html.ActionLink("Nuevo Reporte", "Create")
</p>
<table class="table table-hover ">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.serviciosAmbulancias.Fecha)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.serviciosAmbulancias.HoraRecepcion)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.serviciosAmbulancias.Reportante)
			</th>
			@*<th scope="col">
				@Html.DisplayNameFor(model => model.colonias.Colonia)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.serviciosAmbulancias.Calle)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.serviciosAmbulancias.NumeroExt)
			</th>*@
			@*<th scope="col">
			@Html.DisplayNameFor(model => model.serviciosAmbulancias.Cruzamientos)
		</th>*@
			@*<th scope="col">
			@Html.DisplayNameFor(model => model.serviciosAmbulancias.Referencia)
		</th>*@
			@*<th scope="col">
			@Html.DisplayNameFor(model => model.serviciosAmbulancias.Telefono)
		</th>*@
			<th scope="col">
				@Html.DisplayNameFor(model => model.claves.Descripcion)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.ambulancias.Unidad)
			</th>
			@*<th scope="col">
			@Html.DisplayNameFor(model => model.serviciosAmbulancias.KilometrajeSalida)
		</th>
		<th scope="col">
			@Html.DisplayNameFor(model => model.serviciosAmbulancias.HoraSalida)
		</th>*@
			<th scope="col">
				@Html.DisplayNameFor(model => model.serviciosAmbulancias.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tbody>
			<tr>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Fecha)
				</td>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.serviciosAmbulancias.HoraRecepcion)
				</td>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Reportante).ToString().ToUpper()
				</td>
				@*<td scope="row">
					@Html.DisplayFor(modelItem => item.colonias.Colonia)
				</td>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Calle).ToString().ToUpper()
				</td>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.serviciosAmbulancias.NumeroExt)
				</td>*@
				@*<td scope="row">
			@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Cruzamientos).ToString().ToUpper()
		</td>
		<td scope="row">
			@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Referencia).ToString().ToUpper()
		</td>
		<td scope="row">
			@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Telefono)
		</td>*@
				<td scope="row">
					@Html.DisplayFor(modelItem => item.claves.Descripcion)
				</td>
				<td scope="row">
					@Html.DisplayFor(modelItem => item.ambulancias.Unidad)
				</td>
				@*<td scope="row">
			@Html.DisplayFor(modelItem => item.serviciosAmbulancias.KilometrajeSalida)
		</td>
		<td scope="row">
			@Html.DisplayFor(modelItem => item.serviciosAmbulancias.HoraSalida)
		</td>*@
				<td scope="row">
					@Html.DisplayFor(modelItem => item.serviciosAmbulancias.Status)
				</td>
				<td scope="row">
					@Html.ActionLink("Edit", "Edit", new { id = item.serviciosAmbulancias.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.serviciosAmbulancias.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.serviciosAmbulancias.Id })
				</td>
			</tr>
		</tbody>
	}

</table>
